// Alocar espaço na Pilha para duas variáveis globais (gp[0] e gp[1])
pushi 0
pushi 0

start

// 1. Pedir e ler o primeiro número (A)
pushs "Introduza o primeiro numero: "
writes
read
atoi
storeg 0

// 2. Pedir e ler o segundo número (B)
pushs "Introduza o segundo numero: "
writes
read
atoi
storeg 1

// 3. Comparar Se A > B
pushg 0
pushg 1
sup
jz bmaior

// 4. Bloco THEN (A é maior ou igual)
pushs "O maior numero e: "
writes
pushg 0
writei
writeln
jump fim

// 5. Bloco ELSE (B é maior)
bmaior:
pushs "O maior numero e: "
writes
pushg 1
writei
writeln

fim:
stop